<div>
	<fieldset>
		<form id="login" ng-submit="login()">
			Email: <input type="email" name="email">
			Password: <input type="password" name="password">
			<input type="submit" name="submit" value="Sign In">
		</form>
	</fieldset>
</div>
<div>
	<fieldset>
		<form id="register" ng-submit="register()">
			First Name: <input type="text" name="firstName">
			Last Name: <input type="text" name="lastName">
			Email: <input type="email" name="">
			Password: <input type="password" name="password">
			Confirm Password: <input type="password" name="confirmPassword">
			<input type="submit" name="submit" value="register">
		</form>
	</fieldset>
</div>
<div id="info">
	<h3>Welcome to the Kanban Board App</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>